body {
    margin: 0;
    padding: 0;
    font-family: avenir;
    background-color: #000;
    overflow: hidden;
}

textarea:focus, input:focus{
    outline: none;
}

* : focus {
    outline: none;
}

header{
    width: 100%;
    color: white;
}

h1 {
    text-align: center;
    font-size: 85px;
    font-weight: 100;
}

main {
    margin-top: -2%
}

.transition {
    -webkit-transition: 1s; /* Safari */
        transition: 1s;
}

/* CHAT */

#zone_chat {
    height: 500px;
    width: 50%;
    background-color: #FFF;
    float: left;
    margin-left: 8%;
    border-radius: 30px 30px 0px 0px;
    overflow-y: auto;
}

#zone_chat strong {
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: #000;
    text-transform: uppercase;
}

#zone_chat p {
    margin: 19px 30px;
}

h2 {
    text-align: center;
    margin: 0 auto;
    margin: 20px;
}

li {
    list-style-type: none;
    padding: 12px 0px;
}

/* INPUT */ 

input {
    width: 47.787%;
    height: 40px;
    margin-left: 8%;
    padding-left: 2%;
}

input: focus {
    outline-width: 0;
}

input::placeholder {
    font-size: 15px;
}

/* VIDEOS */

#videos {
    position: absolute;
    top: 0%;
    left: 0%;
}

video {
    display: none;
}

/* OPTIONS */ 

#options {
    margin:  0% 0 0 33%;
    right:  30%;
    position:  relative;
}

/* ADD IMAGE */

#addimage {
    position: absolute;
    right: 1%;
    margin-top: 5%;
}

#addimage img {
    width: 40px;
}

/* EMOJIS */

#addemojis {
    margin: 12% 0 12% 0%;
    position: absolute;
    top: 3%;
    right: 1%;
}

#addemojis img {
    width: 40px;
}

#emojis {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    overflow-y: scroll;
    position: absolute;
    right: 1%;
    margin-top: 17%;
    display: none;
}

.emoji-list li {
    padding: 0px 0px;
}

.emoji-list {
    margin-top: 5px;
    margin-left: -28px;
    list-style-type: none;
}

.emoji-list li {
    display: inline-block;
}

.emoji {
    width: 25px;
    height: 25px;
    margin: 4px;
}

/* STYLIZING */

#stylizing {
    width: 21vw;
    background-color: #FFF;
    height: 545px;
    margin-right: 8%;
    float: right;
    overflow-y: scroll;
}

#stylizing ul {
    display: inline-block;
    margin: 0;
    padding: 10px 17px;;
}

#stylizing li {
    margin: 11px 12px;
    display: inline-block;
}

#stylizing #blue1 {
    background-color: #0053BF;
    width: 45px;
    height: 20px;
}

#stylizing #blue2 {
    background-color: #00377F;
    width: 45px;
    height: 20px;
}

#stylizing #blue3 {
    background-color: #006EFF;
    width: 45px;
    height: 20px;
}

#stylizing #blue4 {
    background-color: #001C40;
    width: 45px;
    height: 20px;
}

#stylizing #blue5 {
    background-color: #0063E5;
    width: 45px;
    height: 20px;
}

#stylizing #orange1 {
    background-color: #BF7A00;
    width: 45px;
    height: 20px;
}

#stylizing #orange2 {
    background-color: #7F5100;
    width: 45px;
    height: 20px;
}

#stylizing #orange3 {
    background-color: #FFA300;
    width: 45px;
    height: 20px;
}

#stylizing #orange4 {
    background-color: #402900;
    width: 45px;
    height: 20px;
}

#stylizing #orange5 {
    background-color: #E59200;
    width: 45px;
    height: 20px;
}

#stylizing #red1 {
    background-color: #BF0004;
    width: 45px;
    height: 20px;
}

#stylizing #red2 {
    background-color: #7F0002;
    width: 45px;
    height: 20px;
}

#stylizing #red3 {
    background-color: #FF0005;
    width: 45px;
    height: 20px;
}

#stylizing #red4 {
    background-color: #400001;
    width: 45px;
    height: 20px;
}

#stylizing #red5 {
    background-color: #E50004;
    width: 45px;
    height: 20px;
}

#stylizing #green1 {
    background-color: #00BF6C;
    width: 45px;
    height: 20px;
}

#stylizing #green2 {
    background-color: #007F48;
    width: 45px;
    height: 20px;
}

#stylizing #green3 {
    background-color: #00FF90;
    width: 45px;
    height: 20px;
}

#stylizing #green4 {
    background-color: #004024;
    width: 45px;
    height: 20px;
}

#stylizing #green5 {
    background-color: #00E581;
    width: 45px;
    height: 20px;
}

#stylizing #yellow1 {
    background-color: #BFBD00;
    width: 45px;
    height: 20px;
}

#stylizing #yellow2 {
    background-color: #7F7E00;
    width: 45px;
    height: 20px;
}

#stylizing #yellow3 {
    background-color: #FFFD00;
    width: 45px;
    height: 20px;
}

#stylizing #yellow4 {
    background-color: #403F00;
    width: 45px;
    height: 20px;
}

#stylizing #yellow5 {
    background-color: #E5E300;
    width: 45px;
    height: 20px;
}