* {
    font-family: avenir;
    margin: 0;
    padding: 0;
}

body {
    list-style-type: none;
    background-color: skyblue;
}

header {
    background-color: skyblue;
    height: 90px;
    width: 100%;
    text-align: center;
    display: table;
    margin: 12 % 0 5% 0;
}

.headerfix {
    display:table-cell; 
    vertical-align:middle;
    font-size: 60px;
}

h1 {
    font-size: 100px;
    margin: 0 auto;
}

main {
    height: 500px;
    width: 1200px;
    margin: 0 auto;
}

/* INPUT SECTION */

section:first-child {
    margin: 0 auto;
    width: 35%;
}

/* YOUR NAME DIV */

section:first-child #name {

}

/* YOUR MESSAGE DIV */

section:first-child #messagediv {
  
}

/* CONVERSATION SECTION */ 

section:last-child {
    height: inherit;
    width: 80%;
    margin: 0 auto;
    
}
 
#chat {
    width: 100%;
    height: inherit;
    float: right;
    overflow-y: scroll;
    background-color: white;
    border-radius: 20px;
}

#chat ul li {
    padding: 10px 20px;
    margin: 20px 40px;
    width: 30%;
    background-color: darkseagreen;
    border-radius: 20px 20px 20px 0px;
    list-style-type: none;
}

/* INPUT STYLE */

section 
input,
span,
label,
textarea {
  font-family: 'Avenir', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

section textarea:focus,
input:focus {
  outline: 0;
}

/* Question */

section input.question,
textarea.question {
  font-size: 48px;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}

section input.question + label,
textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid red;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

section input.question:focus + label,
textarea.question:focus + label {
    width: 80%;
}

section input.question:focus,
input.question:valid {
    padding-top: 35px;
}

section textarea.question:valid,
textarea.question:focus {
    margin-top: 35px;
}

section input.question:focus + label > span,
input.question:valid + label > span {
    top: -100px;
    font-size: 22px;
    color: #333;
}

/* Underline and Placeholder */

section input.question:focus + label,
textarea.question:focus + label {
  width: 100%;
}

section input.question + label > span,
textarea.question + label > span {
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

section input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* KEYFRAMES */

/* FADE IN UP H1 HEADER */

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* INPUT */

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}